<main>
  <section class="left">
    <app-agendamento-form
      [formAgendamento]="formAgendamento"
      [agendamentoEmEdicao]="agendamentoEmEdicao"
      [pets]="pets"
      [tutores]="tutores"
      (salvar)="salvarAgendamento()"
      (cancelar)="cancelarEdicao()"
    ></app-agendamento-form>

    <app-agendamento-list
      [mostrarListagem]="mostrarListagem"
      [agendamentos]="agendamentos"
      [agendamentosFiltrados]="agendamentosFiltrados"
      [pets]="pets"
      [tutores]="tutores"
      (buscar)="buscarAgendamentos($event)"
      (editar)="prepararEdicao($event)"
      (deletar)="deletarAgendamento($event)"
    ></app-agendamento-list>
  </section>

  <section class="right"></section>
</main>
