<main>
  <section class="left">
    <app-pets-form
      [formPet]="formPet"
      [petEmEdicao]="petEmEdicao"
      [tutores]="tutores"
      (salvar)="salvarPet()"
      (cancelar)="cancelarEdicao()"
    ></app-pets-form>

    <app-pets-list
      [mostrarListagem]="mostrarListagem"
      [pets]="pets"
      [petsFiltrados]="petsFiltrados"
      [tutores]="tutores"
      (buscar)="buscarPets($event)"
      (editar)="prepararEdicao($event)"
      (deletar)="deletarPet($event)"
    ></app-pets-list>
  </section>

  <section class="right"></section>
</main>
