@font-face {
    font-family: 'Nokie';
    src: url('../../../assets/fonts/Nokie.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('../../../assets/imgs/bg-banner-gray.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 65px);
    margin: 0;
}

@media (max-width: 900px) {
    body {
        background-image: url('../../../assets/imgs/bg-home-mobile.jpg');
    }
}