@font-face {
    font-family: 'Nokie';
    src: url('../../../assets/fonts/Nokie.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-primary: steelblue;
    --color-support: #8FB4C4;
    --color-bg: #f4f4f4;
    --color-action: #7A7364;
    --color-action-hover: #5e584d;
}

body {
    background-image: url('../../../assets/imgs/bg-banner-gray.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 65px);
    margin: 0;
}

main {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    width: auto;
    display: none;
}

main div {
    margin: 0px 0;
}

main h1 {
    font-family: 'Nokie', sans-serif;
    font-size: 4.2rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    line-height: 80px;
}

main p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: #1f3a5f;
    max-width: 600px;
    margin: 30px 0;
}

main span {
    display: inline-block;
    width: auto;
    margin: 5px 0;
    background-color: var(--color-support);
    text-shadow: 1px 1px 1px black;
}

main button {
    padding: 15px 35px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px var(--color-action);
    background-color: #7A7364;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

main button:hover {
    background-color: var(--color-action-hover);
}