<main>
  <section class="left">
    <app-tutores-form
      [formTutor]="formTutor"
      [tutorEmEdicao]="tutorEmEdicao"
      (salvar)="salvaTutor()"
      (cancelar)="cancelarEdicao()"
    ></app-tutores-form>

    <app-tutores-list
      [mostrarListagem]="mostrarListagem"
      [tutores]="tutores"
      [tutoresFiltrados]="tutoresFiltrados"
      (buscar)="buscaTutores($event)"
      (editar)="prepararEdicao($event)"
      (deletar)="deletarTutor($event)"
    ></app-tutores-list>
  </section>

  <section class="right"></section>
</main>
