mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 65px;
}

.mat-toolbar.mat-primary{
    background-color: steelblue;
}

#brand{
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

nav ul{
    display: flex;
    gap: 20px;
}

ul li{
    list-style: none;
}

ul li a{
    font-size: 14px;
    text-transform: uppercase;
}

a {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.highlight{
    background-color: white;
    color: steelblue;
    border-radius: 5px;
    padding: 5px 10px;

}

.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
}

.spacer {
  flex: 1 1 auto;
}

#brand {
  display: flex;
  align-items: center;
  gap: 8px;
}

nav a {
  margin-left: 8px;
}


@media (max-width: 900px) {
    mat-toolbar {
        padding: 0px 20px;
    }
}