<mat-toolbar color="primary">
    <section id="brand">
        <img src="../../../assets/imgs/dog-nose.png" alt="logo-clinpet" width="40" height="40">
        <a routerLink="/">ClinPet</a>
    </section>
    <nav>
        <ul>
            <li><a routerLink="/tutores" routerLinkActive="active" ariaCurrentWhenActive="page">Tutores</a></li>
            <li><a routerLink="/pets" routerLinkActive="active" ariaCurrentWhenActive="page">Pets</a></li>
            <!-- <li><a routerLink="/atendimento" routerLinkActive="active" ariaCurrentWhenActive="page">Atendimento</a></li> -->
            <li><a routerLink="/agendamento" routerLinkActive="active" ariaCurrentWhenActive="page">Agendamentos</a></li>
        </ul>
    </nav>
</mat-toolbar>