.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 65px);
    background-color: #f9fafb;
}

.form-row {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.form-row mat-form-field {
    flex: 1;
    min-width: 200px;
}

.full-width {
    width: 100%;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}